.blog-post {
    margin-left: 15%;
    border: red 2px solid;
}
h2 {
    margin-top: 110px;
    margin-bottom: 0px;
    font-size: 3rem;
    font-weight: 900;
}
h3 {
    margin-top: 0px;
    font-size: 1rem;
    font-weight: 400;
}
span.seperator {
    background: linear-gradient(60deg, var(--primary), var(--accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
span.heading {
    font-size: 1.5rem;
    font-weight: 900;
    display: block;
    padding: 10px 0px 10px 0px;
}
span.code {
    font-family: 'Source Code Pro', monospace;
    word-spacing: -5px;
    background-color: lightgray;
    color: var(--bg);
    padding: 5px;
    border-radius: 5px;
    border:rgb(88, 88, 88) 2px solid;
}